.box {
    width: 92%;
    background: rgb(255, 255, 255);
    margin: 10px 10px 10px 10px;
    /*padding: 5px 5px 2px 5px;*/
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(93, 91, 91, 0.4);
    word-wrap: break-word; 
}

@media (min-width: 508px) {
    .box {
        width: 45.8%;
        background: rgb(255, 255, 255);
        margin: 10px 10px 10px 10px;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(93, 91, 91, 0.4);
        word-wrap: break-word;
    }
}

@media (min-width: 720px) {
    .box {
        width: 44.5%;
        background: rgb(255, 255, 255);
        margin: 10px 10px 10px 15px;
        /*padding: 5px 5px 2px 5px;*/
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(93, 91, 91, 0.4);
        word-wrap: break-word;
    }
}
@media (min-width: 768px) {
    .box {
        width: 44.5%;
        background: rgb(255, 255, 255);
        margin: 10px 10px 10px 10px;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(93, 91, 91, 0.4);
        word-wrap: break-word;
    }
}
@media (min-width: 1024px) {
    .box {
        width: 31.2%;
        background: rgb(255, 255, 255);
        margin: 10px 10px 10px 10px;
        /*padding: 5px 5px 2px 5px;*/
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(93, 91, 91, 0.4);
        word-wrap: break-word;
    }
}
.box img {
    max-width: 100%;
    max-height: 400px;
    /*max-height: 500px;*/
    border: 1px #dddddd solid;
}
.box-info {
    padding-top: 3px;
    display: inline-block;
    width: 100%;
}
.box-date {
    float: left;
    font-size: 0.8em;
    color: rgba(186, 49, 6, 0.35);
    font-style: italic;
}
.box-add-reply {
    float: left;
    font-size: 0.8em;
    color: rgba(0, 30, 186, 0.6);
    margin-left: 5px;
    cursor: pointer;
}
.box-like {
    float: right;
    font-size: 0.8em;
    color: rgb(87, 168, 235);
    padding-left: 5px;
    cursor: pointer;
}
.box-dislike {
    float: right;
    font-size: 0.8em;
    color: rgb(215, 107, 87);
    padding-left: 5px;
    cursor: pointer;
}
.box-info img {
    width: 13px;
    height: 13px;
    margin-right: 3px;
    border: none;
}
.box-info span {
    height: 100%;
}
.wall-outer {
    padding: 0px 0px 0px 10px;
}
.message-img-click, .header-img-click {
    cursor: pointer;
}
#divTitle {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 25px;
    padding: 0px 0px 0px 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
#divTitle img {
    position: absolute;
    top: 2px;
    right: 10px;
    width: 20px;
    display: none;
    /*margin-top: 3px;*/
}
#divInput {
    height: 45px;
    /*padding: 5px 5px 5px 5px;*/
    background-color: #002F4A;
    margin-bottom: 10px;
}
#inputTextOri::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}
#inputTextOri::-moz-input-placeholder {
    color: rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}
#btnGo img {
    width: 20px;
    height: 20px;
}
#btnImage img {
    width: 25px;
    height: 25px;
}
.message {
    position: absolute;
    float: left;
    left: 0;
    right: 120px;
    height: 35px;
    margin: 6px 0px 0px 0px;
    background-color: white;
    /*border-radius: 2px;*/
}
.button-write {
    position: absolute;
    float: right;
    right: 60px;
    width: 60px;
    height: 35px;
    margin: 6px 0px 0px 0px;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
}
.button-image {
    position: absolute;
    float: right;
    right: 0px;
    width: 60px;
    height: 35px;
    margin: 6px 0px 0px 0px;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
}

#btnGo span{
    position: absolute;
    top: 7px;
    left: 20px;
}

#btnImage span{
    position: absolute;
    top: 6px;
    left: 18px;
}

.bg-color1 {
    background-color: rgb(0, 113, 178);
}
.bg-color2 {
    background-color: rgba(0, 113, 179, 0.6);
}
.no-border {
    border: none !important;
}
.button-mid span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.8;
    height: 35px;
    padding-top: 5px;
}
.attached-image {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-image: url('/img/image_icon1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.message-wrapper {
    padding: 10px 15px 5px 15px;
}
.message-wrapper p {
    margin: 0 0 5px;
    font-size: 1.15em;
    line-height: 1.7;
}
.message-wrapper img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
.reply-wrapper {
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
}
.reply-wrapper-all {
    display: none;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
}
.reply-wrapper-each {
    display: inline-block;
    padding: 7px 7px 2px 0px;
    width: 100%;
    border-top: 2px white solid;
}
.reply-header {
    float: left;
    width: 10%;
    text-align: right;
    padding-right: 5px;
    line-height: 0.9;
    color: rgb(97, 97, 97)
}
.reply-content {
    font-size: 0.9em;
    color: rgb(139, 139, 139);
    float: left;
    width: 90%;
    word-wrap: break-word;
}
.reply-more {
    height: 15px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.reply-date {
    float: right;
    color: rgba(186, 49, 6, 0.35);
    font-style: italic;
    margin-left: 3px;
    font-size: 0.8em;
}
.arrow-down {
    background-image: url('/img/arrow_down.png');
}
.arrow-up {
    background-image: url('/img/arrow_up.png');
}

#mainForm {
    display: none;
}
.main-input {
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 10px;
}
.link {
    width: 100%;
    /*border-left: 8px solid #CCC;*/
    padding-left: 8px;
}
.link-provider {
    margin: 4px 0px 4px 0px;
    line-height: 20px;
    color: #8b8b8b;
}
.link-provider img {
    display: inline-block;
    margin: 2px 2px 2px 2px;
    border: none;
}
.link-thumbnail {
    margin: 4px 0px 4px 0px;
}
.link-thumbnail img {
    max-height: 400px;
}
.link-thumbnail iframe{
    width: 100%;
    height: 100%;
}
.link-title {
    margin: 4px 0px 4px 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #6b6b6b;
}
.link-desc {
    margin: 4px 0px 4px 0px;
    font-size: 0.9em;
    line-height: 20px;
    color: #9b9b9b;
}
.link-go {
    margin: 4px 0px 4px 0px;
    color: #1a95b3;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}

/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
.survey-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #000000ff;
    cursor: pointer;
    z-index: 10000;
}

.survey-btn img{
    opacity: 0.8;
}

.sur-box{

}

.sur-item{
    width:100%;
    min-height: 30px;
    position: relative;
    background: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 3px;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);*/
}


.sur-item-back {
    position: absolute;
    width: 100%;
    min-height: 30px;
    background: #044479;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    -webkit-transition: background 300ms linear;
    -moz-transition: background 300ms linear;
    -o-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    transition: background 300ms linear;
}

.sur-item:hover{

    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgba(63, 118, 241, 1);
}


.sur-item-select {
    position: absolute;
    width: 0;
    min-height: 30px;
    border-radius: 3px;
    background-color: #4281fa;
}

.sur-item-content {

    position: absolute;
    width: 100%;
    min-height: 30px;
    border-radius: 3px;
}

.sur-item-content-text {
    float: left;
    color: rgb(0, 0, 0);
    padding: 5px 10px 5px 10px;
}
.sur-item-content-per {
    display: none;
    float: right;
    color: rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}


.sur-item-input-outer{
    width: 100%; height: 34px;
    margin-top: 10px;
}
.sur-item-input-label {
    float: left;
    height: 100%;
    line-height: 2.4;
    font-weight: bold;
    width: 60px;
}
.sur-item-input-text {
    position: absolute;
    float: left;
    height: 34px;
    left: 80px;
    right: 15px;
}
.sur-item-input-remove{
    position: absolute;
    float: right;
    right: 22px;
    /*top: 5px;*/
    padding-top: 8px;
    z-index: 10000;
}

.sur-item-input-remove span{
    cursor: pointer;
}
.modal-header{
    background-color: #337ab7;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-weight: bold;
}
.modal-body{
    padding-top: 5px;
}
